azure-functions
azure-mgmt-network
azure-identity
azure-mgmt-resource>=18.0.0
azure-eventhub
azure-mgmt-monitor
azure-monitor-query
azure-mgmt-loganalytics
azure-mgmt-storage
azure-mgmt-web
azure.mgmt.eventhub
